{% extends 'base.html' %}
<!-- Base template for author profile pages. profile.html extends this file to display author's posts, edit profile and follow buttons, etc. -->

{% block title %}
  {{ author.displayName }}'s Profile
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div>
      <label>Profile Image:</label><br>
      <img width=150px src="{% if author.profileImage %} {{author.profileImage.url}} {% endif %}" alt="{{ author.displayName }}'s Profile Image"><br>
      {% if editable %}
        <input type="file" name="profileImage" accept="image/*"><br>
      {% endif %}
    </div>
    
    <div>
      <label for="displayName">Display Name:</label><br>
      <input id="displayName" type="text" name="displayName" value="{{ author.displayName }}" {% if not editable %}readonly{% endif %}><br>
    </div>
    
    <div>
      <label for="description">Description:</label><br>
      <textarea id="description" name="description" {% if not editable %}readonly{% endif %}>{{ author.description }}</textarea><br>
    </div>
    
    {% if editable %}
      <div>
        <label for="github">GitHub URL:</label><br>
        <input id="github" type="url" name="github" value="{{ author.github }}"><br>
      </div>
    {% else %}
      <div>
        <label>GitHub Profile:</label><br>
        <a href="{{ author.github }}">GitHub Profile</a><br>
      </div>
    {% endif %}

    <br>
    {% block edit_button %}
    {% endblock %}
    {% if editable %}
      <button type="submit">Save Changes</button>
    {% endif %}
  </form>
{% endblock %}